<style>
    .app-banner {        
        background: #15191C;
    }

    .app-banner img{
        
        width:150px;
        height:60px;
       
        
    }
</style>

<div class="container-fluid app-banner text-center">
    <h6>Coming Soon!!</h6>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <a href="#">
                <img src="http://localhost:9090/designtest/testDesign/snapadds/public/uploads/iOS-AppStore.svg" alt="">
            </a>
            <a href="#">
                    <img src="http://localhost:9090/designtest/testDesign/snapadds/public/uploads/Android-GooglePlay.svg" alt="">
            </a>
        </div>        
    </div>

    


</div>