{# Get Global Messages #} {% set key = flash.getMessages() | keys | first %} {# Only Display Alert Box if there is messages
#} {% if key is not empty %} {# Display for message Box #}
<div class="alert alert-{{key}}">
        <a href="#" type="button" class="close" aria-label="close">&times;</a>
        {{flash.getMessage(key)| first}}
</div>

{% endif %}

<script>
               
        //Make the close button on the flash message slide up instead of dissapear
        $('.close').click(function (e) {                          
                $('.alert').slideUp();
        })

</script>