<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    {# Brand #}
    <a class="navbar-brand" href="#" id="nav--brand">
        <i class="fa d-inline fa-lg fa-cloud"></i>
        <b>Snapchat Adds</b>
    </a>

    {# Toggle Button for smaller devices #}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {# The main nav contents #}
    <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Something</a>
            </li>
            
            {# If user logged in show user options #}
            {% if auth.check %}
            {# Dropdown Menu #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Account</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">

                        <a class="dropdown-item" href="#">My Account</a>                    
                        <a class="dropdown-item" href="#">Change Password</a>
                        <a class="dropdown-item" href="#">LogOut</a>  

                    </div>
                </li>
            
            {# If user not logged in show log in options #}
            {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="#">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Create Account</a>
                </li>

            {% endif %}
            
        </ul> <!--END OF NAV LIST -->
        

        {# Search Form #}
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div> <!-- END OF CONTAINER -->
</nav>


